<a href="https://colab.research.google.com/github/oliveirarisla/extens-opandas/blob/main/Avalia%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto Final Python Pandas

Projeto final do curso de extensão ***análise dados na prática com Python Pandas*** a fim de avaliação. 


Serão analisados os **Indicadores de Segurança Pública**, através das ocorrências nos **Estados Brasileiros** no ano de **2022**.

Os dados foram retirados do [portal](https://dados.gov.br/home) Brasileiro de Dados Abertos.


---



Autor: Arisla Santos de Oliveira


Data: 10/02/2023

In [1]:
print('Hello World!')

Hello World!

In [2]:
import pandas as pd

ocorrencias_df = pd.read_excel("indicadoressegurancapublicauf2022.xlsx")
display(ocorrencias_df)

,UF,Tipo Crime,Ano,Mês,Ocorrências
0,Acre,Estupro,2022,janeiro,31
1,Acre,Furto de veículo,2022,janeiro,50
2,Acre,Homicídio doloso,2022,janeiro,10
3,Acre,Lesão corporal seguida de morte,2022,janeiro,1
4,Acre,Roubo a instituição financeira,2022,janeiro,0
...,...,...,...,...,...
2090,Tocantins,Furto de veículo,2022,setembro,123
2091,Tocantins,Homicídio doloso,2022,setembro,20
2092,Tocantins,Roubo de veículo,2022,setembro,26
2093,Tocantins,Roubo seguido de morte (latrocínio),2022,setembro,1
2094,Tocantins,Tentativa de homicídio,2022,setembro,37

In [3]:
#Remover a coluna Ano, pois já sabemos que o recorte vai ser 2022
ocorrencias_df.drop(labels=['Ano'], axis=1, inplace=True)
print(ocorrencias_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2095 entries, 0 to 2094
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   UF           2095 non-null   object
 1   Tipo Crime   2095 non-null   object
 2   Mês          2095 non-null   object
 3   Ocorrências  2095 non-null   int64
dtypes: int64(1), object(3)
memory usage: 65.6+ KB
None

In [24]:
# Soma da quantidade de ocorrências por tipo de crime no Brasil em 2022
soma_ocorrencia_df = ocorrencias_df[['Tipo Crime', 'Ocorrências']].groupby(by='Tipo Crime').sum().round(2)
display(soma_ocorrencia_df.sort_values(by='Ocorrências'))

                                     Ocorrências
Tipo Crime
Roubo a instituição financeira               190
Lesão corporal seguida de morte              415
Roubo seguido de morte (latrocínio)          896
Roubo de carga                              9490
Tentativa de homicídio                     22610
Homicídio doloso                           27673
Estupro                                    42793
Roubo de veículo                          102414
Furto de veículo                          160850

In [28]:
# Média por Estado da quantidade de ocorrências por tipo de crime no Brasil em 2022
media_ocorrencia_df = ocorrencias_df[['Tipo Crime', 'Ocorrências']].groupby(by='Tipo Crime').mean().round(2)
display(media_ocorrencia_df.sort_values(by='Ocorrências'))

                                     Ocorrências
Tipo Crime
Roubo a instituição financeira              0.88
Lesão corporal seguida de morte             1.89
Roubo seguido de morte (latrocínio)         3.83
Roubo de carga                             44.35
Tentativa de homicídio                     93.43
Homicídio doloso                          113.88
Estupro                                   176.83
Roubo de veículo                          423.20
Furto de veículo                          664.67

In [30]:
# UF que teve maior ocorrência em 2022, com o mês e crime 
display(ocorrencias_df[['UF', 'Mês', 'Tipo Crime', 'Ocorrências']].max())

UF                          Tocantins
Mês                          setembro
Tipo Crime     Tentativa de homicídio
Ocorrências                      8525
dtype: object

In [34]:
# UF que teve menor ocorrência em 2022, com o mês e crime
display(ocorrencias_df[['UF', 'Mês', 'Tipo Crime', 'Ocorrências']].min())

UF                Acre
Mês              abril
Tipo Crime     Estupro
Ocorrências          0
dtype: object

In [4]:
regioes_df = pd.read_excel("regioes.xlsx")
display(regioes_df)

          Região                   UF
0   Centro-Oeste                Goiás
1   Centro-Oeste          Mato Grosso
2   Centro-Oeste   Mato Grosso do Sul
3   Centro-Oeste     Distrito Federal
4          Norte                 Acre
5          Norte             Amazonas
6          Norte                Amapá
7          Norte                 Pará
8          Norte             Rondônia
9          Norte              Roraima
10         Norte            Tocantins
11      Nordeste              Alagoas
12      Nordeste                Bahia
13      Nordeste                Ceará
14      Nordeste             Maranhão
15      Nordeste                Piauí
16      Nordeste           Pernambuco
17      Nordeste              Paraíba
18      Nordeste  Rio Grande do Norte
19      Nordeste              Sergipe
20           Sul               Paraná
21           Sul    Rio Grande do Sul
22           Sul       Santa Catarina
23       Sudeste            São Paulo
24       Sudeste       Rio de Janeiro
25       Sudeste         Minas Gerais
26       Sudeste       Espírito Santo

In [5]:
reg = ['UF']
ocorrencias1_df = ocorrencias_df.merge(regioes_df, how="inner", on=reg)
display(ocorrencias1_df)

,UF,Tipo Crime,Mês,Ocorrências,Região
0,Acre,Estupro,janeiro,31,Norte
1,Acre,Furto de veículo,janeiro,50,Norte
2,Acre,Homicídio doloso,janeiro,10,Norte
3,Acre,Lesão corporal seguida de morte,janeiro,1,Norte
4,Acre,Roubo a instituição financeira,janeiro,0,Norte
...,...,...,...,...,...
2090,Tocantins,Furto de veículo,setembro,123,Norte
2091,Tocantins,Homicídio doloso,setembro,20,Norte
2092,Tocantins,Roubo de veículo,setembro,26,Norte
2093,Tocantins,Roubo seguido de morte (latrocínio),setembro,1,Norte
2094,Tocantins,Tentativa de homicídio,setembro,37,Norte

In [6]:
import numpy as np